@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:wght@600&display=swap');

#logo {
    height: 200px;
    width: 100%;
    float: left;
    background: url(imamges/fg.1.png) no-repeat center center;
    overflow: hidden;
}

#menu {
    font-family: Montserrat, sans-serif;
    margin: 0;
    width: 250px;
    color: #1d1d1d;
    font-weight: 600%;
}

#menu li {
    display: block;
    color: #1d1d1d;
    padding: 40px 16px;
    font-size: 150%;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600%;
}

a:link {
    color: #1d1d1d;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #1d1d1d;
}

#home-about {
    position: relative;
    left: 30%;
    top: -320px;
    font-size: 150%;
    overflow: hidden;
    width: 60%;
    font-family: Mulish, sans-serif;
    color: #1d1d1d;
}

.contact-us>h2 {
    position: relative;
    top: -30px;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
    color: #1d1d1d;
}

.contact-us {
    position: absolute;
    left: 25%;
    top: 33%;
    font-family: Montserrat, sans-serif;
    font-size: 130%;
    vertical-align: middle;
    width: 70%;
    color: #1d1d1d;
}

#submit-button {
    padding: 15px 32px 15px 32px;
    font-family: Mulish, sans-serif;
    font-size: 90%;
    color: white;
    margin-bottom: 10%;
    background-color: red;
    border-style: hidden;
    border-color: #1d1d1d;
    text-transform: uppercase;
}

#submit-button:hover {
    background-color: white;
    border: #1d1d1d solid 1px;
    color: #1d1d1d;
}

.our-services {
    position: relative;
    top: -290px;
    color: #1d1d1d;
    font-family: Mulish, sans-serif;
    font-size: 100%;
    left: 30%;
}

.our-services>h2 {
    font-size: 150%;
    font-family: Montserrat, sans-serif;
    color: #1d1d1d;
    font-weight: bold;
    background-color: rgb(126, 122, 122, 0.6);
}

#auditing {
    position: relative;
    left: 23.3%;
    color: #1d1d1d;
    display: block;
    width: 20%;
    height: 300px;
    background-color: rgba(126, 122, 122, 0.6);
    top: -2px;
}

#installation {
    position: absolute;
    left: 46.6%;
    color: #1d1d1d;
    display: block;
    width: 20%;
    height: 300px;
    top: -1px;
    background-color: rgb(126, 122, 122, 0.6);
}

#design {
    position: absolute;
    top: -1px;
    display: block;
    color: #1d1d1d;
    height: 300px;
    width: 20%;
    background-color: rgb(126, 122, 122, 0.6);
}

#audit-header {
    padding-top: 23px;
}

#design-header,
#audit-header,
#install-header {
    text-align: center;
}

footer {
    background-color: rgb(126, 122, 122, 0.6);
    width: 100%;
    left: 0;
    bottom: 0;
    height: 5%;
    position: fixed;
    font-family: Mulish, sans-serif;
    font-size: 150%;
    text-align: center;
    color: #1d1d1d;
    font-weight: 500;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background: url(imamges/good-fire-alarm-photo.jpeg) no-repeat center center fixed;
    background-size: cover;
}